<template>
  <section class="container">
    <div>
      <app-logo/>
      <p class="title">Id: {{data.id}}</p>
      <p class="title">Created at: {{data.createdAt}}</p>
      <p class="title">Data: {{data.data}}</p>
    </div>
  </section>
</template>

<script>
import AppLogo from '~/components/AppLogo.vue'
import * as SignalR from '@microsoft/signalr'
import { mapGetters } from 'vuex';

export default {
  components: {
    AppLogo
  },
  computed: {
    ...mapGetters({
      data: 'data/notASimpleObject'
    })
  },
  created(){
      this.connection = new SignalR.HubConnectionBuilder()
          .configureLogging(SignalR.LogLevel.Debug)
          // hardcoded due to test sulution
          .withUrl('http://localhost:8381/someObjectHub', {
                        skipNegotiation: true,
                        transport: SignalR.HttpTransportType.WebSockets
          })
          .withAutomaticReconnect()
          .build();

      const store = this.$store;

      var thisVue = this;
      thisVue.connection.start();
      thisVue.connection.on('ReceiveMessage', function(data) {
          store.dispatch('data/updateWith', data);
      });
  }
}
</script>

<style>
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 */
  display: block;
  font-weight: 300;
  font-size: 40px;
  color: #35495e;
  letter-spacing: 1px;
  text-align: left;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>

